
/*--------navbar-----------*/

*{
    margin: 0;
    padding: 0;
}



body{
    margin: 0px;
    padding: 0px;
}





#topnavbar{
    list-style-type: none;
    background-color: #102438;
    color: white;
    font-size: 13px;
    padding: 10px;
    margin: 0px;
    font-family: "Open Sans" , sans-serif;
    text-transform: uppercase;
}


#topnavbar ul{

    padding: 10px; 
    
}

#topnavbar li{
    display: inline;
    margin: 1.5vw;
}


#topnavbar li:first-child{
    margin-left: 5px;
    padding-left: 5px;
}


#topnavbar li:nth-child(8){
    margin-left: 4.2vw;
}


.righttopnav{
    color: #a3dde8;
    font-size: 11px;
    font-family: "Open Sans" , sans-serif; 
    text-align: right;
}


/*--------hero-----------*/


#hero {  
    height: 100vh; 
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0), transparent), url(images/fans.jpg) no-repeat center; 
    background-size: cover; 
    box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8); 
}


#heroC{
    margin-top: 10vh;
    margin-left: 2vw;
    float: left; 
}


#herotext{
    position: relative;
    top: 14.5vh;
    left: 0.5vw;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0px;
    text-shadow: 2px 2px #333;
    
}


#herotextsmall{
    position: relative;
    top: 14.7vh;
    left: 0.5vw;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px #333;
}

/*--------explore-----------*/


#explorecchs{
    width: 100vw;
    height: 450px;
}


#exploreheader{
    width: 100vw;
    height: 61px;
    background-color:  #102438;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding-top: 20px;
    font-size: 13PX;
    
}


#exploresection{
    width: 100vw;
    height: 369px;
}


.explorebox{
    height: 369px;
    width: 25%;
    float: left;
}


#hurricane{
    background-image: url(images/patriots\ plaza.jpg);
    background-position: center;
    background-size: cover;
}


#hurricanetext{
    border: 1px solid white;
    background:#102438;
    margin: 150px 35px;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 10px 20px;
}


#guidance{
    background-image: url(images/college.png);
    background-position: center;
    background-size: cover;
}


#guidancetext{
    border: 1px solid white;
    background: orangered;
    margin: 150px 35px;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 20px 25px;
}


#CCNN{
    background-image: url(images/ccnn.jpg);
    background-position: center;
    background-size: cover;
}


#CCNNtext{
    background-image: url(images/ccnn\ live.png);
    margin: 150px 35px;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
}


#Media{
    background-image: url(images/ccnn\ live.png);
    background-position: center;
    background-size: cover;
}


#mediatext{
    border: 1px solid white;
    background: tan;
    margin: 150px 35px;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 20px 10px;
}

/*--------glance-----------*/


#CCHSataglance{
    width: 100vw;
    height: 300px;
}


#glanceheader{
    width: 100vw;
    height: 81px;
    background-color:  white;
    text-align: center;
    color: #102438;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-top: 20px;
    font-size: 1.0em;
}


#glancesections{
    width: 100%;
    height: 269px;
}


.glancelogo{
    width: 23%;
    height: 269px;
    float: left;
}


#money{
    background-image: url(images/carosel\ money.jpg);
    background-position: center;
    background-size: cover;
    margin-left: 2%
}


#gradhat{
    background-image: url(images/carosel\ graduation.jpg);
    background-position: center;
    background-size: cover;
    text-align: center; 
}


#book{
    background-image: url(images/book.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}


#teacher{
    background-image: url(images/carosel\ teaching.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}


#glancetextsections{
    width: 100%;
    height: 250px;
}


.glancetext{
    text-align: center;
    width: 23%;
    height: 100px;
    float: left;
}

.glancetext h2{
    color: rgb(252, 14, 14);
    font-family: 'PT Sans Narrow', sans-serif;

}

.glancetext p{
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
}


#moneytext{
    margin-left: 2%;
}



#apcourses{
    height: 200px;
    width: 100vw;
    border-bottom: 0.75px solid goldenrod; 
}

#apcoursestext{
    text-align: center;
    border: 1px solid darkblue;
    margin: 0px 250px;
    padding: 50px 35px;
    background: #102438;
    color: white;
    text-align: center;   
    font-family: 'PT Sans Narrow', sans-serif;
}


/*--------colleges-----------*/


#colleges{
    height: 275px;
    width: 100%;
    margin-top: 50px; 
}

#collegesheader{
    width: 100vw;
    height: 50px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    color: #102438;;
}

#collegessections{
    width: 100%;
    height: 225px;
}

.collegesimage{
    height: 145px;
    background-size: cover;
    float: left;
}

#um{
    background-image: url(images/um.png);
    background-repeat: none;
    background-position: center;
    width: 22%; 
}
#yale{
    background-image: url(images/yale.png);
    background-repeat: none;
    background-position: center;
    width: 20%;
}

#wakeforest{
    background-image: url(images/wakeforest.png);
    background-repeat: none;
    background-position: center;
    width: 20%; 
}

#northcarolina{
    background-image: url(images/northcarolina.png);
    background-repeat: none;
    background-position: center;
    width: 16%;
}

#MIT{
    background-image: url(images/mit.png);
    background-repeat: none;
    background-position: center;
    width: 22%;
}

.right{
    float: right;
}

/*--------footer-----------*/

#footer{
    width: 100vw;
    height:400px;
}
    #footernav{
        list-style-type: none;
        background-color: #102438;
        color: #a3dde8;
        font-size: 13px;
        padding: 0px 30px;
margin: 0px;
font-family: "open sans", sans-serif;
text-transform: uppercase;
height: 50px;
    }




#footernav ul{

    padding: 0px; 
    
}

#footernav li{
        display: inline;
        margin: 1vw;
    
}

#footerbottom{
width:100vw;
height:350px;
background-color:#333333;
font-family: "open sans", sans-serif;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
}




#footernav li:first-child(5){
    margin-left: 5px;
    padding-left: 5px;
}

